<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <title>signIn Success</title>
</head>
<body>
    <h2>signIn Success</h2>

    <form th:action="@{/app-logout}" method="POST" sec:authorize="isAuthenticated()">
        <button class="btn btn-light" type="submit">Logout</button>
    </form>

    <!--<div><h1 th:text="${userDetails.getUsername}"></h1></div>-->

    loout -> 로그아웃실행하고 성공얼럿처리하고 다시 로그인화면으로.


    <div>
        <p sec:authorize="isAuthenticated()" sytle="font-color='white'">로그인상태</p>
        <p sec:authorize="!isAuthenticated()" sytle="font-color='white'">로그아웃상태1</p>
        <p sec:authorize="isAnonymous()" sytle="font-color='white'">로그아웃상태2</p>
    </div>


</body>
</html>